<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Changed - I am in the final year of my undergraduate degree at the University of British Columbia studying 
          Chemical and Biological Engineering with a minor in Computer Science. I've been fascinated by biology 
          and computer science since high school, and am passionate about leveraging my multidisciplinary background
          to solve interesting and impactful problems at the intersection of medicine, engineering, and AI/ML. This website
          is a collection of the projects I work(ed) on. Please reach out if you have any questions, are hiring, or are 
          interested in collaborating!</p>
      </div>
    </div>
  </div>
</section>
