<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            <ul class="list-inline item-details">
              {% if post.where %}
              <li>Where:
                <strong>{{ post.where }}</strong>
              </li>
              {% endif %}
              {% if post.project-date %}
              <li>Date:
                <strong>{{ post.project-date }}</strong>
              </li>
              {% endif %}
              {% if post.category %}
              <li>Categories:
                <strong>{{ post.category }}</strong>
              </li>
              {% endif %}
            </ul>
            <!-- <div class="text-left">
              {% if post.description %} -->
              <!-- <p>{{ post.description | markdownify }}</p> -->
              <!-- <p class="modal-body-text-left">{{ post.description | markdownify }}</p>
              {% endif %}
            </div> -->
            <div class="markdown-content">
              {{ post.description | markdownify }}
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}


<!-- Portfolio Modals (models)-->
{% for model in site.models %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ model.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ model.title }}</h2>
            <hr class="star-primary">
            <img src="img/portfolio/{{ model.img }}" class="img-responsive img-centered" alt="{{ model.alt }}">
            <ul class="list-inline item-details">
              {% if model.where %}
              <li>Where:
                <strong>{{ model.where }}</strong>
              </li>
              {% endif %}
              {% if model.project-date %}
              <li>Date:
                <strong>{{ model.project-date }}</strong>
              </li>
              {% endif %}
              {% if model.category %}
              <li>Categories:
                <strong>{{ model.category }}</strong>
              </li>
              {% endif %}
            </ul>
            <div class="markdown-content">
              {{ model.description | markdownify }}
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
